@charset "utf-8";
/* CSS Document */

body,nav,p,h1,h2,h3,h4,ul,li,input,textarea,footer,figure{margin: 0;padding: 0;}
body{font: 'Microsoft Yahei','Simsun';color: #333;background: #fff;}

ul{list-style: none;}
a{text-decoration: none;color: #1a1a1a;}
a:hover,a:active,a:focus{color: #1c5aa2;text-decoration: none;}
a:active{color: #aaa;}
img{vertical-align: middle;border: none;}
input,select,textarea{font-size: 100%;vertical-align: middle;outline: none;}
textarea{resize: none;}
.contents{min-width: 1100px;margin: 0 auto;}
.contentsgd{width: 1100px;margin: 0 auto;}
.clear{height: auto;overflow: hidden;}
.ro2 mark,.roo mark,.ro4 mark,.ro5 mark{background-color:transparent;color:#CB0101;font-size:34px;font-weight: normal;}
.ro1 header,.ro3 figcaption,.ro3 figure{transition: all .3s ease-out;}


body>header{background: #1A1A1A;line-height: 86px;}
body>header h1{float: left;width: 177px;background: url("../images/logo.png") no-repeat center center;padding-left: 126px;}
body>header h1 a{display: block;text-indent: -9999px;}
body>header nav{float: right;padding-right: 50px;}
body>header li{float: left;}
body>header li a{display: block;padding: 0 20px;color: #6c6a6a;font-size: 14px;}
#nav{position: fixed;top: 0px;width: 100%;z-index: 1000;}

.banner{background: #1A1A1A;text-align: center;}

.ro1 article{float:left;width:25%;position:relative;}
.ro1 header{position:absolute;width:100%;height:100%;background:rgba(0,0,0,0);color:#fff;text-align:center;}
.ro1 h3{font-weight:normal;font-size:16px;}
.ro1 span{display:block;font-size:12px;color:#616161;padding-top:6px;}
.dw{position:absolute;width:100%;top:-50%;margin-top:-24px;}
.ro1 article:hover header{background:rgba(0,0,0,0.7);}
.ro1 article:hover .dw{top:50%;}

.ro2{padding:80px 0;}
.ro2 h2,.roo h2,.ro4 h2{font-weight:normal;color:#363636;font-size:34px;text-align:center;}
.ro2 span{font-weight:normal;color:#626262;font-size:16px;text-align:center;display:block;padding-bottom:60px;}
.ro2 article:nth-of-type(1){float: left;padding: 0 0 0 70px;}
.ro2 article:nth-of-type(2){float: right;padding: 70px 70px 0 0;}
.ro2 ul{color:#626262;font-size:18px;font-weight: normal;line-height:40px;}
.ro2 p{color:#626262;font-size:18px;line-height:34px;}
.ro2 h3{font-weight:normal;font-size:28px;color:#363636;}
.ro2 p:nth-of-type(1){font-weight:normal;font-size:22px;color:#363636;padding-bottom:30px;}
.ro2 p:nth-of-type(2){olor:#626262;font-size:16px;line-height:34px;padding-top: 10px;}
.ro2 ul:first-child {padding-right: 60px;}
.ro2 ul{float: left;}


.roo,.ro4{padding-bottom: 80px;}
.roo span{font-weight:normal;color:#626262;font-size:16px;text-align:center;display:block;padding-bottom:40px;}
.ro3{background:url("../images/ro3_1.png") no-repeat center center fixed;text-align:center;height: 650px;background-size: cover;}
.ro3 .contentsgd>img{padding: 80px 0 60px 0;}
.ro3 figure{float:left;width:336px;position:relative;overflow:hidden;}
.ro3 figcaption{position:absolute;bottom:0;width:336px;background:rgba(0,0,0,0.7);color:#fff;font-size: 24px;line-height:50px;}
.ro3 figure:hover{transform:scale(1.2);z-index:3;box-shadow:0 0 10px #fff;border-radius:10px;}
.ro3 figure:hover figcaption{line-height:336px;}
.ro3 figure:nth-of-type(2){margin:0 26px;}
.ro3 .contentsgd>div{height: 336px;padding-left:20px;}

.ro4 span{font-weight:normal;color:#626262;font-size:16px;text-align:center;display:block;padding-bottom:40px;}
.ro4 article{float: left;}
.ro4 .clear{padding:0 20px;}
.ro4 article:nth-of-type(3),.ro4 article:nth-of-type(7),.ro4 article:nth-of-type(10){float: left;}
.ro4 article:nth-of-type(2),.ro4 article:nth-of-type(9){padding:0 20px;}
.ro4 article:nth-of-type(5){padding:20px 20px;}
.ro4 article:nth-of-type(4),.ro4 article:nth-of-type(7){padding:20px 0;}
.ro4 article:nth-of-type(6){padding:20px 20px 20px 0;}

.ro5{background: #1A1A1A;height: 390px;}
.ro5 h2{font-weight:normal;color:#6C6A6A;font-size:34px;text-align:center;padding-top: 60px;}
.ro5 span{font-weight:normal;color:#fff;font-size:16px;text-align:center;display:block;padding-bottom:40px;}
.ro5 p{font-size:28px;;color:#fff;text-align:center;padding-bottom: 28px;}
.ro5 div .clear{text-align:center;}
.ro5 div .clear img:nth-of-type(2){padding: 0 22px;}

.ro6{background:#1A1A1A;border-top: solid 1px #5F5F5F;}
.ro6 p{color:#fff;font-size:14px;text-align:center;line-height:66px;}

.content{text-align:center;}
.content p{font-size:12px;line-height:36px;}

.roo{position:relative;}
.box{display:none;position: absolute;top: 320px;}
.box figure{float:left;width:336px;position:relative;overflow:hidden;}
.box figcaption{position:absolute;bottom:0;width:336px;background:rgba(0,0,0,0.7);color:#fff;font-size: 24px;line-height:50px;text-align:center;}
.box figure:nth-of-type(2){margin:0 26px;}
.box figure:hover{transform:scale(1.2);z-index:3;box-shadow:0 0 10px #fff;border-radius:10px;}
.box figure:hover figcaption{line-height:336px;}
.box .contentsgd>div{height:336px;padding-left:20px;}
.guanbi img{float:right;width: 22px;position:relative;top: -20px;}

.boxx{display:none;position: absolute;top: 320px;}
.boxx figure{float:left;width:336px;position:relative;overflow:hidden;}
.boxx figcaption{position:absolute;bottom:0;width:336px;background:rgba(0,0,0,0.7);color:#fff;font-size: 24px;line-height:50px;text-align:center;}
.boxx figure:nth-of-type(1){margin:0 26px;}
.boxx figure:hover{transform:scale(1.2);z-index:3;box-shadow:0 0 10px #fff;border-radius:10px;}
.boxx figure:hover figcaption{line-height:336px;}
.boxx .contentsgd>div{height:336px;padding:0 201px;}
.guanbii img{float:right;width: 22px;position:relative;top: -20px;right:300px;}

.boxxx{display:none;position: absolute;top: 320px;}
.boxxx figure{float:left;width:336px;position:relative;overflow:hidden;}
.boxxx figcaption{position:absolute;bottom:0;width:336px;background:rgba(0,0,0,0.7);color:#fff;font-size: 24px;line-height:50px;text-align:center;}
.boxxx figure:nth-of-type(1){margin:0 26px;}
.boxxx figure:hover{transform:scale(1.2);z-index:3;box-shadow:0 0 10px #fff;border-radius:10px;}
.boxxx figure:hover figcaption{line-height:336px;}
.boxxx .contentsgd>div{height:336px;padding:0 201px;}
.guanbii img{float:right;width: 22px;position:relative;top: -20px;right:300px;}


